.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  margin: 50px;
  border-radius: 20px;
  width: 200px;
  height: 100px;
  cursor: pointer;
}

